<h2>Update Patient</h2>
<form [formGroup]="patientForm">
  <label>First Name:</label>
  <input type="text" formControlName="patientFirstName" placeholder="First Name" appLettersOnly>
  @if(form['patientFirstName'].invalid && (form['patientFirstName'].dirty || form['patientFirstName'].touched)){
    <div class="error">
      @if(form['patientFirstName'].hasError('required')){
        <span>First name is required.</span>
      }
    </div>
  }
  <br>

  <label>Last Name:</label>
  <input type="text" formControlName="patientLastName" placeholder="Last Name" appLettersOnly>
  @if(form['patientLastName'].invalid && (form['patientLastName'].dirty || form['patientLastName'].touched)){
    <div class="error">
      @if(form['patientLastName'].hasError('required')){
        <span>Last name is required.</span>
      }
    </div>
  }
  <br>

  <label>Email:</label>
  <input type="email" formControlName="patientEmail" placeholder="someone@example.com">
  @if(form['patientEmail'].invalid && (form['patientEmail'].dirty || form['patientEmail'].touched)){
    <div class="error">
      @if(form['patientEmail'].hasError('required')){
        <span>Email is required.</span>
      }
      @if(form['patientEmail'].hasError('email')){
        <span>Invalid email.</span>
      }
    </div>
  }
  <br>

  <label>Contact Number:</label>
  <input type="text" formControlName="patientContactNumber" placeholder="Contact Number">
  @if(form['patientContactNumber'].invalid && (form['patientContactNumber'].dirty || form['patientContactNumber'].touched)){
    <div class="error">
      @if(form['patientContactNumber'].hasError('required')){
        <span>Contact number is required.</span>
      }
      @if(form['patientContactNumber'].hasError('pattern')){
        <span>Only Numbers are Allowed.</span>
      }
      @if(form['patientContactNumber'].hasError('minlength') || form['patientContactNumber'].hasError('maxlength')){
        <span>Length should only be 11 digits.</span>
      }
    </div>
  }
  <br>
  <div class="button-group">
    <button type="submit" (click)="onSubmit()" [disabled]="patientForm.invalid">Update Patient</button>
    <button type="button" class="back-btn" (click)="backToList()">Back</button>
  </div>
</form>
