<h2>Update Doctor</h2>
<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <label>First Name:</label>
  <input type="text" formControlName="doctorFirstName" placeholder="First Name" appLettersOnly>
  @if(form['doctorFirstName'].invalid && (form['doctorFirstName'].dirty || form['doctorFirstName'].touched)){
    <div class="error">
      @if(form['doctorFirstName'].hasError('required')){
        <span>First name is required.</span>
      }
    </div>
  }
  <br>

  <label>Last Name:</label>
  <input type="text" formControlName="doctorLastName" placeholder="Last Name" appLettersOnly>
  @if(form['doctorLastName'].invalid && (form['doctorLastName'].dirty || form['doctorLastName'].touched)){
    <div class="error">
      @if(form['doctorLastName'].hasError('required')){
        <span>Last name is required.</span>
      }
    </div>
  }
  <br>

  <label>Email:</label>
  <input type="email" formControlName="doctorEmail" placeholder="someone@example.com">
  @if(form['doctorEmail'].invalid && (form['doctorEmail'].dirty || form['doctorEmail'].touched)){
    <div class="error">
      @if(form['doctorEmail'].hasError('required')){
        <span>Email is required.</span>
      }
      @if(form['doctorEmail'].hasError('email')){
        <span>Invalid email.</span>
      }
    </div>
  }
  <br>

  <label>Contact Number:</label>
  <input type="text" formControlName="doctorContactNumber" placeholder="Contact Number">
  @if(form['doctorContactNumber'].invalid && (form['doctorContactNumber'].dirty || form['doctorContactNumber'].touched)){
    <div class="error">
      @if(form['doctorContactNumber'].hasError('required')){
        <span>Contact number is required.</span>
      }
    </div>
  }
  <br>
  <div class="button-group">
    <button type="submit">Update Doctor</button>
    <button type="button" class="back-btn" (click)="backToList()">Back</button>
  </div>
</form>
